* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: "Lato" , sans-serif;
    color: #2c3e50;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: "Lato";
    color: #2c3e50;
}

.block {
    display: grid;
    grid-template-columns: minmax(1em,1fr) minmax(0, 80em)  minmax(1em,1fr);
}

.logo img{
    margin-top: 1.5rem;
    width : 7.5rem;
    height : 2rem ;
}

.block__nav {
    display:grid;
    grid-template-columns: minmax(1em,1fr) minmax(0, 80em)  minmax(1em,1fr);
    grid-column: 1/4;
    width: 100%;
    position: fixed;
    background-color: #ffffff;
}

.block__nav--menu {
    padding: 10px;
    display: grid;
    grid-column: 2/3;
    display: flex;
}

.block__nav--menu--items {
    display: grid;
    grid-template-columns: repeat(10,1fr);
}

.block__nav--menu--items>.block__nav--menu--items--item>a {
    text-decoration: none;
    color: #2c3e50;
}

.block__nav--menu--items>.block__nav--menu--items--item {
    margin-top: 1rem;
    list-style-type: none;
    text-align: center;
}

.block__nav--menu--items>li {
    list-style-type: none;
}

.block__nav--menu--items>.block__nav--menu--items--item > a:hover {
    border-top: 3px solid #1abc9c;
    color: #1abc9c;
}

@media (max-width: 550px) {
    .block__nav--drop-down { display:block !important; }
    .block__nav--menu--items { display: none; }
    .block__works__images {flex-wrap: wrap;}
    .comment {font-size: 50%;}
    .block__info__box__link {font-size: 50%;}
}

@media (max-width: 1150px) {
    .block__comments__info {flex-wrap: wrap;}
}    

.block__nav--drop-down {
    display: none;
}

.block__image {
    margin-top: 6rem;
    grid-column: 1/4;
    width: 100%;
    height: 700px;
    background-image: url("img/imageOfHead.jpg");
}

.block__image__box--title h2 {
    font-weight: 500;
}

.block__image__box--title h1 {
    font-weight: 900;
}

.block__image__box--title {
    margin-left: 13%;
    margin-top: 10%;
}

.block__image__box--ticks {
    display: flex;
    margin-left: 13%;
}

.lineOfHead {
    margin-left: 13%;
}

.block__image__box--ticks p {
    margin-left: 5px;
    color: #2c3e50;
    font-weight: 600;
}

.block__image__box--ticks img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 10px;
}

.block__image__box--button {
    margin-left: 13%;
    margin-top: 50px;
}

.block__image__box--button a {
    padding: 15px 30px 15px 30px;
    background-color:#2c3e50;
    color: #FFFFFF;
    font-weight: 600;
    text-decoration: none;
}

.block__description {
    margin-top: 2.5rem;
    grid-column: 2/3;
    height: 8.5%;
}

.block__description__body {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.block__description__body--left h2 {
    margin-top: 1rem;
    font-size: 2.5rem;
    font-weight : 300;
}

.block__description__body--left p {
    font-weight: 400;
    color: #a1b1bc;
}   

.block__description__body--left h3 {
    font-size: 1.1rem;
    font-weight: 700;
    color: #2c3e50;
}  

.block__description__body--left--button {
    margin-top: 2.5rem;
}

.View {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    background-color: #a1b1bc;
    box-shadow : 1px 3px 0 0 #81919b ;
    border-radius : 2px ;
    padding: 0.7rem;
}

.block__description__body--right--dropdown{
    margin-top: 2rem;
    width: 100%;
    height: 45px;
    border-radius: 3px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #e4e7e9;
}

.block__description__body--right--dropdown img{
    width: 10px;
    height: 10px;
    margin: 1rem 0 1rem 1rem;
}

.dropdown__arrow{
    border-left: 1px solid #e4e7e9;
    margin-right: 1rem;
}

.block__description__body--right--hidden--text{
    border: 1px solid #e4e7e9;
}

.block__description__body--right--hidden--text p{
    margin: 1rem;
}

.block__description__body--right--hidden--text-middle {
    border: 1px solid #e4e7e9;
    display: flex;
}

.block__description__body--right--hidden--text-middle p{
    margin: 1rem;
}

.block__description__body--right--hidden--text-middle img{
    margin: 1rem;
}

.block__description__body--right--dropdown h2{
    margin-left: 1rem;
    font-size: 1rem;
    font-weight : 700;
}

.block__description__body--right--hidden {
    display: none;
}

.openDropDown {
    display: block;
}

.block__works {
    margin-top: 10rem;
    grid-column: 2/3;
    height: 12.2%;
}

.block__works h2{
    margin-top: 1rem;
    font-size: 2.5rem;
    font-weight : 300;
}    

.block__works--why {
    margin-top: 10rem;
    grid-column: 2/3;
    height: 8.5%;
}

.block__works--why__body {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.block__works--why__body--right--phone {
    width: 100%;
}

.block__works--why__body--left h2 {
    margin-top: 1rem;
    font-size: 2.5rem;
    font-weight : 300;
}

.block__works--why__body--left p {
    font-weight: 400;
    color: #a1b1bc;
}  

.block__works--why__body--left--button {
    margin-top: 2.5rem;
}

.block__works__images {
    display:  grid;
    grid-template-columns:  repeat(auto-ﬁll, minmax(100px, 1fr)); 
    display: flex;
    flex-direction: row;
    
}
.block__works__images--title {
    border: 1px solid;
    border-color: #ffffff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.block__works__images> div >img {
    max-width: 100%;
}

.block__info {
    grid-column: 1/4;
    height: 3.1%;
}

.block__info__box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.block__info__box--purchases,
.block__info__box--subscribers,
.block__info__box--features,
.block__info__box--customers,
.block__info__box--comments {
    height: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.block__info__box--purchases {
    background-color: #20caa8;
}

.block__info__box--subscribers {
    background-color: #1ad5b0;
}

.block__info__box--features {
    background-color: #20caa8;
}

.block__info__box--customers {
    background-color: #20caa8;
}

.block__info__box--comments {
    background-color: #1ad3af;
}

.block__info__box__link {
    color: #ffffff;
    text-decoration: none;
}

.block__info__box div:hover {
    background-color: #2c3e50;
}

.block__comments {
    grid-column: 2/3;
}

.block__comments__head--title {
    margin-top: 8rem;
    text-align: center;
}

.block__comments__pagination {
    margin-top: 3rem;
    text-align: center;
    margin-bottom: -3rem;
}

.block__comments__pagination--btn-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.block__comments__pagination--btn-pagination a:hover{
    background-color: #fbfafa;
}

.btn-previous,.btn-next {
    border-left:1px;
    border-top:1px;
    border-bottom:1px;
    border-radius: 5px;
    padding: 5px;
    color:#2c3e50;;
    background-color: #ffffff;
}

.btn-previous {
    text-decoration: none;
    margin-left: 10px;
    border-radius: 5px 0px 0px 5px; 
    border-right:1px solid;
}

.btn-next {
    text-decoration: none;
    border-radius: 0px 5px 5px 0px;
    border-right:1px;
}

.block__comments__info {
    margin-top: 5rem;
    display:  grid;
    grid-template-columns:  repeat(auto-ﬁll, minmax(100px, 1fr)); 
    display: flex;
    flex-direction: row;
}

.block__comments__info--right {
 margin-left: 1rem;
}

.comment{
    border: 1px solid #e4e7e9;
    border-radius: 5px;
    width : 100%;
    height : 15rem;
    background-color : #f9fafb;
    margin-bottom: 2rem;
    display:flex;
}
.comment__content{
    margin: 2rem;
}

.comment__image img {
    border-radius: 50%;
    max-width: 14.2rem;
    width: 7.1rem;
    height: 7.1rem;
    margin: 2rem;
}  

.block__icons {
    grid-column: 2/3;
}

.block__icons__business {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(1em,1fr));
    grid-gap: 1rem;
}

.block__icons__business > div > img {
    max-width: 100% ;
}

.block__google--maps {
    grid-column: 1/4;
}

#map {
    height: 30rem;
    max-width: 100%;
}

.block__desing {
    grid-column: 2/3;
    margin-top: 4.3rem;
    
}

.block__desing__container {
    display: grid;
    grid-template-columns:  1fr 1fr; 
}

.block__desing-container--left--social {
    display: flex;
    justify-content: space-around;
}

.block__desing-container--right--form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-form {
    width: 90%;
    height: 3.5rem;
    margin-bottom: 1rem;
}

.btn-submit {
    width: 90%;
    height: 4rem;
    border-radius: 3px;
    background-color: #a1b1bc;
    box-shadow: 1px 3px 0 0 #81919b;
    color: #ffffff;
}

.textarea-form {
    width: 90%;
    height: 12.8rem;
    margin-bottom: 1rem;
}

.block__imagesCompanies {
    margin-top: 90px;
    grid-column: 1/4;
}

.block__imagesCompanies__box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.block__imagesCompanies__box__first {
    background-image: url("img/rubitoAlone.jpg");
}
.block__imagesCompanies__box__second {
    background-image: url("img/rubitoWithGirl.jpg");
}
.block__imagesCompanies__box__third {
    background-image: url("img/twoBoys.jpg");
}
.block__imagesCompanies__box__fourth {
    background-image: url("img/rubitoFlirt.jpg");
}
.block__imagesCompanies__box__fifth {
    background-image: url("img/esaMorena.jpg");
}
.block__imagesCompanies__box__first,
.block__imagesCompanies__box__second,
.block__imagesCompanies__box__third,
.block__imagesCompanies__box__fourth,
.block__imagesCompanies__box__fifth {
    opacity: 0.6;
    background-size: cover;
}

.block__imagesCompanies__box__first:hover, 
.block__imagesCompanies__box__second:hover,
.block__imagesCompanies__box__third:hover,
.block__imagesCompanies__box__fourth:hover,
.block__imagesCompanies__box__fifth:hover {
    opacity: 1;
}

.block__imagesCompanies__box__first:hover h2, 
.block__imagesCompanies__box__second:hover h2,
.block__imagesCompanies__box__third:hover h2,
.block__imagesCompanies__box__fourth:hover h2,
.block__imagesCompanies__box__fifth:hover h2 {
    color : #17e2ba;
}

.block__imagesCompanies__box__first:hover .block__imagesCompanies__info, 
.block__imagesCompanies__box__second:hover .block__imagesCompanies__info,
.block__imagesCompanies__box__third:hover .block__imagesCompanies__info,
.block__imagesCompanies__box__fourth:hover .block__imagesCompanies__info,
.block__imagesCompanies__box__fifth:hover .block__imagesCompanies__info {
    background-color: #2c3e50;
}

.block__imagesCompanies__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:8rem;
}

.block__imagesCompanies__info h2{
    color: #ffffff;
    line-height: 1.7rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.block__imagesCompanies__info p{
    color: #ffffff;
    line-height: 1.7rem;
    font-weight: 400;
}

.block__cyclist {
    grid-column: 1/4;
}

.block__cyclist__container {
    background-image: url("img/ciclista.jpg");
    max-width: 100%;
    overflow: hidden;
    height: 500px;
}

.block__cyclist__container__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block__cyclist__container__box__title {
    margin-top: 2rem;
    color: #ffffff;
}

.block__cyclist__container__box h2 {
    margin-top: 10rem;
}

.block__cyclist__container__box__button {
    margin-top: 2rem;
    border-style: solid ;
    border-color: #ffffff ;
    border-radius: 3px;
    background: rgba(255,255,255,0.01);
    width : 170px ;
    height : 50px;
    color: #ffffff;
    font-weight: 900;
}

footer {
    background-color: #1a1c27;
}

.block__footer {
    grid-column: 2/3;
}

.block__footer__boxs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.block__footer__boxs__title {
    display: flex;
}

.block__footer__boxs__title--left {
    color: #ffffff;
    font-weight: 300;
    font-size: 3rem;
}

.block__footer__boxs__title--right {
    color: #1abc9c;
    font-weight: 900;
    font-size: 3rem;
}

.block__footer__boxs--text {
    text-align: justify;
    color: #a1b1bc;
}

.block__footer__boxs__posts--title {
    border-left:5px solid #1abc9c;
    margin-top: 4rem;
}

.block__footer__boxs__posts--title h3 {
    margin-left: 1rem;
    color: #ffffff;
    font-weight: 900;
    font-size: 1.3rem;
}

.block__footer__boxs__posts--links {
    margin-top: 4rem;
    margin-left: 1rem;
}

.block__footer__boxs__posts--links > div >a {
    text-decoration: none;
    color:#a1b1bc;
}

.line_in_link {
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #243240;
}

.block__footer__boxs__tweets--title {
    border-left:5px solid #1abc9c;
    margin-top: 4rem;
}

.block__footer__boxs__tweets--title h3 {
    margin-left: 1rem;
    color: #ffffff;
    font-weight: 900;
    font-size: 1.3rem;
}

.tweet{
    display: flex;
    flex-direction: row;
}

.first__image__tweet {
    margin-top: 2rem;
}

.block__footer__boxs__links img{
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    color:#a1b1bc ;
}

.block__footer__boxs__links {
    margin-left: 1rem;
}

.tweet__link {
    text-decoration: none;
    color: #1abc9c;
}

.tweet__text--first {
    color:#a1b1bc;
    margin-top: 2rem;
    margin-left: 1rem;
    border-bottom:1px solid #243240;
}

.second__image__tweet {
    margin-top: 1rem;
}

.tweet__text--second {
    color:#a1b1bc;
    margin-top: 1rem;
    margin-left: 1rem;
}

.block__footer__boxs__features--grid img{
    max-width: 100%;;
}

.block__footer__boxs__features--grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3,minmax(1em, 1fr));
    grid-gap: 0.5rem;
}

.block__footer__boxs__features--title {
    border-left:5px solid #1abc9c;
    margin-top: 4rem;
}

.block__footer__boxs__features--title h3 {
    margin-left: 1rem;
    color: #ffffff;
    font-weight: 900;
    font-size: 1.3rem;
}